@import "../_mixins.scss";

.app__wrapper {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.appHeader {
  display: block;
  height: 100vh;
  width: 100%;
  border-right: 1px solid rgba(#222222, 0.5);
  padding: 0.5rem 1rem;
  img{
	width: 60px;
	height: fit-content;
  }

  .phese {
    height: 40px !important;
    border: 1px solid #e3e3e3;
    margin: 5px;
    width: calc(100% - 10px) !important;
  }

  .slidebar-add-project {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    background-color: #f3f3f3;

    input {
      border: none;
      border-radius: 1px;
      font-size: 16px;
      height: 36px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      transition: 0.3s all ease-in-out;
      background-color: #f3f3f3;

      &:hover {
        background-color: #e3e3e3;
      }

      &:focus {
        outline: none;
        border: none;
        background-color: #e4e4e4;
      }
    }

    button {
      position: absolute;
      top: -6px;
      right: 3px;
      width: 30px !important;
      height: 30px !important;
      color: #ffffff !important;
    }

    &:hover {
      background-color: #e3e3e3;
    }

    &:focus {
      outline: none;
      border: none;
      background-color: #e4e4e4;
    }
  }

  .slidebar-add-phase {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;

    input {
      border: none;
      border-radius: 5px;
      font-size: 16px;
      height: 36px;
      width: calc(100% - 10px);
      display: flex;
      align-items: center;
      padding: 0 10px;
      transition: 0.3s all ease-in-out;
      margin: 5px !important;
      background-color: #f3f3f3;

      &:hover {
        background-color: #e3e3e3;
      }

      &:focus {
        outline: none;
        border: none;
        background-color: #e4e4e4;
      }
    }

    button {
      position: absolute;
      top: -2px;
      right: 8px;
      width: 30px !important;
      height: 30px !important;
      color: #ffffff !important;
    }
  }

  .rotate {
    transform: rotate(180deg);
    transition: 0.3s all ease-in-out;
  }

  .active {
    background-color: var(--primaryPurple) !important;
    color: #ffffff !important;

    .btn-down {
      background-color: #222222 !important;
    }

    svg {
      fill: #ffffff !important;
    }
  }

  .btn-slidbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    transition: 0.3s all ease-in-out;

    h4 {
      white-space: nowrap;
      display: flex;
      align-items: center;
      margin: auto 10px;
      font-weight: 500;
    }

    .btn-down {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: #f3f3f3;
      transition: 0.3s all ease-in-out;
    }

    &:hover {
      background-color: var(--gray-2);
    }
  }

  h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--black-2);
    text-align: center;
    margin: 0 auto;
    padding: 2rem 1rem 0.5rem 1rem;
    width: max-content;
    height: auto;
  }

  button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    transition: 0.5s all ease-in-out;
  }

  div {
    button {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem auto;
      border-radius: 50%;
      border: none;
      transition: 0.5s all ease-in-out;
      background-color: #2b2b2b !important;

      svg {
        fill: #ffffff;
      }

      &:hover {
        background-color: #222222 !important;
      }
    }
  }
}

.active {
  background-color: var(--primaryPurple) !important;
}

.content__wrapper {
  border-radius: 12px;

  @include smallDeviceSize {
    padding: 1.5rem;
  }
}

.emptyText {
  // display: inline-block;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
  width: max-content;
  height: auto;
  margin-top: 10vh;

  svg {
    width: 400px !important;
    height: 400px !important;
  }

  h2 {
    font-size: 26px;
  }
}

.titleHeader {
  font-size: 32px;
  margin: 3rem 0 2.5rem 0;
  font-weight: 700;
  text-align: left;
}

@media (max-width: 769px) {
  .appHeader {
    display: flex !important;
    width: 100% !important;
    height: 100px !important;
  }
}

.modal-dialog {
  label {
    font-size: 14px;
    font-weight: 500;
    color: var(--black-2);
  }
  input {
    font-size: 14px;
    padding: 6px;
    outline: none;
    box-sizing: 1px 4px 10px #cacaca !important;
    border: 1px solid #cacaca !important;
  }
  select {
    font-size: 14px;
    padding: 6px;
    outline: none;
    box-sizing: 1px 4px 10px #cacaca !important;
    border: 1px solid #cacaca !important;
  }
  button {
    font-size: 14px !important;
    padding: 6px;
  }
}
